@page "/"
@inject NavigationManager Navigator

<PageTitle>Index</PageTitle>

<h1>Welcome admins, use machine view to see update status!</h1>

@code {
    protected override void OnInitialized()
    {
        Navigator.NavigateTo("/fetchdata");
    }
}